@font-face {
  font-family: "SourceSansPro";
  src: local("Source Sans Pro Regular"), url("/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SourceSansPro";
  src: local("Source Sans Pro Black"), url("/fonts/Source_Sans_Pro/SourceSansPro-Black.ttf") format("ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: local("Ubuntu"), url("/fonts/Ubuntu/Ubuntu-regular.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}
/* 
body {
  font-family: "SourceSansPro, sans serif";
} */
