@font-face {
  font-family: "PlayfairDisplay";
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"),
    url("public/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff2")
      format("woff2"),
    url("public/fonts/PlayfairDisplay/PlayfairDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"),
    url("public/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff2")
      format("woff2"),
    url("public/fonts/PlayfairDisplay/PlayfairDisplay-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("public/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("public/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("public/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("public/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
